*{
    box-sizing: border-box;
  
}
.B{
    float:left;
    width: 100%;
}
.C{
    width:25%;
    float:left;
    text-align: center;


}
.D{
    width:25%;
    float:left;
    text-align: center;
}
.E{
    width:25%;
    float:left;
    text-align: center;
}


.containerImg{
    width:18rem;
}
